version: "3.8"

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  backend:
    build: ./backend
    container_name: backend
    expose:
      - "5000"
    environment:
      - FLASK_ENV=production
    restart: always
